# Default ignored files
LOGGERPROJECT/shelf/*
LOGGERPROJECT/.idea/workspace.xml
# Datasource local storage ignored files
LOGGERPROJECT/dataSources/
LOGGERPROJECT/dataSources.local.xml
# Editor-based HTTP Client requests
LOGGERPROJECT/httpRequests/
/LOGGERPROJECT/out/*
# Default ignored files
DBPROJECT/shelf/*
DBPROJECT/.idea/workspace.xml
# Datasource local storage ignored files
DBPROJECT/dataSources/
DBPROJECT/dataSources.local.xml
# Editor-based HTTP Client requests
DBPROJECT/httpRequests/
/DBPROJECT/out/*
/spring/Spring01/target/*
workspace.xml
spring/Spring01/.idea/misc.xml
spring/Spring01/.idea/encodings.xml
spring/spring02/target/surefire-reports/AppTest.txt
spring/spring02/target/*
spring/spring03/target/surefire-reports/AppTest.txt
spring/spring03/target/*
spring/spring04/target/surefire-reports/AppTest.txt
spring/spring04/target/*
.DS_Store
spring/.DS_Store
spring/springtx/target/classes/org/example/BuyBookService.class
spring/springtx/target/classes/org/example/Service1.class
spring/springtx/target/classes/spring.xml
spring/springtx/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
spring/springtx/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
spring/springtx/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
spring/springtx/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
spring/springtx/target/site-webapp/css/maven-base.css
spring/springtx/target/site-webapp/css/maven-theme.css
spring/springtx/target/site-webapp/css/print.css
spring/springtx/target/site-webapp/css/site.css
spring/springtx/target/site-webapp/images/collapsed.gif
spring/springtx/target/site-webapp/images/expanded.gif
spring/springtx/target/site-webapp/images/external.png
spring/springtx/target/site-webapp/images/icon_error_sml.gif
spring/springtx/target/site-webapp/images/icon_info_sml.gif
spring/springtx/target/site-webapp/images/icon_success_sml.gif
spring/springtx/target/site-webapp/images/icon_warning_sml.gif
spring/springtx/target/site-webapp/images/logos/build-by-maven-black.png
spring/springtx/target/site-webapp/images/logos/build-by-maven-white.png
spring/springtx/target/site-webapp/images/logos/maven-feather.png
spring/springtx/target/site-webapp/images/newwindow.png
spring/springtx/target/site-webapp/WEB-INF/web.xml
spring/springtx/target/surefire-reports/org.example.AppTest.txt
spring/springtx/target/surefire-reports/TEST-org.example.AppTest.xml
spring/springtx/target/test-classes/org/example/AppTest.class
