# Default ignored files
/LOGGERPROJECT/shelf/
/LOGGERPROJECT/.idea/workspace.xml
# Datasource local storage ignored files
/LOGGERPROJECT/dataSources/
/LOGGERPROJECT/dataSources.local.xml
# Editor-based HTTP Client requests
/LOGGERPROJECT/httpRequests/
/LOGGERPROJECT/out/