# Default ignored files
LOGGERPROJECT/shelf/*
LOGGERPROJECT/.idea/workspace.xml
# Datasource local storage ignored files
LOGGERPROJECT/dataSources/
LOGGERPROJECT/dataSources.local.xml
# Editor-based HTTP Client requests
LOGGERPROJECT/httpRequests/
/LOGGERPROJECT/out/*
# Default ignored files
DBPROJECT/shelf/*
DBPROJECT/.idea/workspace.xml
# Datasource local storage ignored files
DBPROJECT/dataSources/
DBPROJECT/dataSources.local.xml
# Editor-based HTTP Client requests
DBPROJECT/httpRequests/
/DBPROJECT/out/*
/spring/Spring01/target/*
workspace.xml
spring/Spring01/.idea/misc.xml
spring/Spring01/.idea/encodings.xml
spring/spring02/target/surefire-reports/AppTest.txt
spring/spring02/target/*
spring/spring03/target/surefire-reports/AppTest.txt
spring/spring03/target/*
spring/spring04/target/surefire-reports/AppTest.txt
spring/spring04/target/*
.DS_Store
spring/.DS_Store
spring/springtx/*
asmbyte/*
scaProject/*
spring/springtxxml/*
tools/ratelimiterLen/target/*
springmvc/springmvc01/target
